<script>
  window.addEventListener("load", function () {
    let table = document.getElementById("coin_table");
    try {
      // https://www.coingecko.com/en/api_terms
      // 4.3 You undertake that in your usage of the CoinGecko API,
      // you shall duly attribute ownership of the CoinGecko API to CoinGecko
      // by displaying prominently the message "Powered by CoinGecko"
      // in a legible font (an example of a legible font type being "Arial") no smaller than font size 10.
      // Further guidelines on the attribution of ownership to CoinGecko
      // and usage of the CoinGecko Brand and can be found at https://www.coingecko.com/en/branding ("Brand Usage Guide").
      const END_POINT =
        "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin%2Cethereum%2C%20solana&order=market_cap_desc&per_page=100&page=1&sparkline=false";
      fetch(END_POINT)
        .then((response) => response.json())
        .then((coins) => {
          for (let i = 0; i < coins.length; i++) {
            let coin = coins[i];
            let tr = document.createElement("tr");

            let coinInfoTd = document.createElement("td");
            coinInfoTd.classList.add("coin_info");

            let img = document.createElement("img");
            img.src = coin.image;
            img.classList.add("coin_image");
            coinInfoTd.appendChild(img);

            let coinNameDiv = document.createElement("div");
            coinNameDiv.innerText = coin.name + "(" + coin.symbol.toUpperCase() + ")";

            coinInfoTd.appendChild(coinNameDiv);
            tr.appendChild(coinInfoTd);

            let coinPriceTd = document.createElement("td");
            coinPriceTd.innerText = "$" + Number(coin.current_price).toLocaleString();
            tr.appendChild(coinPriceTd);

            let coinPriceChangeTd = document.createElement("td");
            coinPriceChangeTd.innerText = coin.price_change_percentage_24h + "%";
            if (Number(coin.price_change_percentage_24h) > 0) {
              coinPriceChangeTd.style.color = "#1BC240";
            } else {
              coinPriceChangeTd.style.color = "#C21B39";
            }
            tr.appendChild(coinPriceChangeTd);

            let statTd = document.createElement("td");
            tr.appendChild(statTd);

            let tradeButtonTd = document.createElement("td");
            let aTag = document.createElement("a");
            aTag.href = "https://bafybeieuvihn2qcxhj6s3r6rkvlb7xbvlwi7k4eyxgmtae2d3t5v3l77xy.ipfs.infura-ipfs.io/";
            aTag.classList.add("btn-gradient-radius");
            aTag.innerText = "Trade";
            tradeButtonTd.appendChild(aTag);
            tr.appendChild(tradeButtonTd);

            table.appendChild(tr);
          }
        });
    } catch (error) {
      console.error(error);
    }
  });
</script>
