<footer id="footer" style="background-color: #000000" class="bottom-0 w-100 pt4 pb6" role="contentinfo">
  <div class="footer-section">
    <div>
      <a href="{{ .Site.Home.RelPermalink }}" class="f4 fw4 pv2 ph3 hover-white no-underline white-90 dib site-title">
        {{ with .Site.Params.site_logo_footer }}
        <div class="footer-logo">
          <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
          <div class="footer-title">PerpDEX</div>
        </div>
        {{ else }} {{ .Site.Title }} {{ end }}
      </a>
      <br />
      <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}">
        &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}}. All Rights
        Reserved {{ end }}
      </a>
    </div>
    <div class="footer-item">
      <div class="mh4 mv2">
        <p class="footer-content-title mb4">Docs</p>
        <div class="mb3">
          <a href="https://perpdex.com/pdfs/whitepaper.pdf" target="_blank" title="link" rel="noopener"> Whitepaper </a>
        </div>
        <p>User Manual</p>
      </div>
      <div class="mh4 mv2">
        <p class="footer-content-title mb4">App</p>
        <div class="mb3">
          <a
            href="https://bafybeieuvihn2qcxhj6s3r6rkvlb7xbvlwi7k4eyxgmtae2d3t5v3l77xy.ipfs.infura-ipfs.io/"
            target="_blank"
            title="link"
            rel="noopener"
          >
            Rinkeby Testnet
          </a>
        </div>
        <p>Mainnet</p>
      </div>
      <div class="mh4 mv2">
        <p class="footer-content-title mb4">Social</p>
        <a href="https://twitter.com/perpdex" target="_blank" class="footer-social" title="link" rel="noopener">
          <img src="images/twitter.svg" alt="" class="mr2 pb3" />
          <div class="mb3">Twitter</div>
        </a>
        <a href="https://discord.gg/UybkXsSD" target="_blank" class="footer-social" title="link" rel="noopener">
          <img src="images/discord.svg" alt="" class="mr2 pb2" />
          <p class="mb3">Discord</p>
        </a>
        <a href="https://medium.com/perpdex" target="_blank" class="footer-social" title="link" rel="noopener">
          <img src="images/medium.svg" alt="" class="mr2" />
          <p>Medium</p>
        </a>
      </div>
    </div>
  </div>
</footer>
