{{ define "main" }}
<div class="perp-dex-landing-page">
  <div class="section-4">
    <div class="section-4-title">
      <p class="section-4-title-item-1">Market Trend</p>
      <p class="section-4-title-item-2">Start Trading Perpetuals Today</p>
    </div>
    <div class="section-4-contents">
      <table id="coin_table">
        <tr>
          <th>Futures</th>
          <th>Price</th>
          <th>
            Change
            <span class="chnage-time">24h</span>
          </th>
          <th>Chart</th>
          <th>Trade</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="section-1">
    <p class="section-title">A DEX with all the features you expect</p>
    <div class="sub-section-1">
      <div class="item">
        <img src="images/statistics.svg" alt="" />
        <p class="item-title">Liquidation Free Funding</p>
        <p class="item-content">Never let your account be drained as a result of a bad trade</p>
      </div>
      <div class="item">
        <img src="images/web-hyperlink.svg" alt="" />
        <p class="item-title">Lossless AMM</p>
        <p class="item-content">Significantly Reduced Bad Debt Using Just In Time Liquidity</p>
      </div>
      <div class="item">
        <img src="images/stack.svg" alt="" />
        <p class="item-title">Decentralization</p>
        <p class="item-content">Decentralized, Open-source and Audited</p>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="sub-section-2">
      <div class="section-item-2 section-item-2-contents">
        <p class="section-item-2-title-1">For Taker</p>
        <p class="section-item-2-title-2">Trade Perpetual Futures with peace of mind</p>
        <div class="section-item-2-container">
          <img class="taker-container-icon" alt="" src="images/line-chart-line.svg" />
          <div class="section-item-2-container-item section-item-2-container-item-first">
            <p class="section-item-2-container-item-1">Perpetual Futures Trading</p>
            <p class="section-item-2-container-item-2">Trade Perpetual Futures Contracts from diverse crypto assets</p>
          </div>
          <img class="taker-container-icon" alt="" src="images/money-sign.svg" />
          <div class="section-item-2-container-item">
            <p class="section-item-2-container-item-1">Leverage Trading & Short</p>
            <p class="section-item-2-container-item-2">Go high risk trading using Leverage Trading up to 10x</p>
          </div>
        </div>
        <div class="sub-section-button section-item-2-image">
          <a href="https://perpdex.com/pdfs/whitepaper.pdf" class="btn-radius" target="_blank" rel="noopener noreferrer"
            >Trade</a
          >
        </div>
      </div>
      <div class="section-item-2">
        <img class="taker-icon" alt="" src="images/Rectangle.svg" />
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="sub-section-2">
      <div class="section-item-2">
        <img class="maker-icon" alt="" src="images/795-removebg-preview.svg" />
      </div>
      <div class="section-item-2 section-item-2-contents">
        <p class="section-item-2-title-1">For Makers</p>
        <p class="section-item-2-title-2">Perfect Era of Passive Income with High Yield</p>
        <div class="section-item-2-container">
          <img class="maker-container-icon" alt="" src="images/bitcoin.svg" />
          <div class="section-item-2-container-item section-item-2-container-item-first">
            <p class="section-item-2-container-item-1">Transaction Mining</p>
            <p class="section-item-2-container-item-2">Earn rewards with each transaction happening on Trade</p>
          </div>
          <img class="maker-container-icon" alt="" src="images/comparison.svg" />
          <div class="section-item-2-container-item">
            <p class="section-item-2-container-item-1">Leverage LP</p>
            <p class="section-item-2-container-item-2">Borrow leveraged LP and go steroids on yield farming</p>
          </div>
        </div>
        <div class="sub-section-button section-item-2-image">
          <a href="https://perpdex.com/pdfs/whitepaper.pdf" class="btn-radius" target="_blank" rel="noopener noreferrer"
            >Add liquidity</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section-6">
    <div class="sub-section-6">
      <div class="section-item-6">
        <p class="section-item-6-title-1">PerpDEX Ecosystem</p>
        <p class="section-item-6-title-2">
          Tons of opportunities for strategy makers to use PerpDEX as hedging tool for their protocol or their
          customers. Using PerpDEX, things like Delta-neutral Stable Coins are possible, thanks to ERC4626 for
          composability with other protocols.
        </p>
        <div class="section-item-6-container">
          <img class="section-6-icon" alt="" src="images/delta.svg" />
          <div class="section-item-6-container-item">
            <p class="section-item-6-container-item-1">Perpetual Futures Trading</p>
          </div>
          <img class="section-6-icon" alt="" src="images/Group.svg" />
          <div class="section-item-6-container-item">
            <p class="section-item-6-container-item-1">Leverage Trading & Short</p>
          </div>
        </div>
        <div class="sub-section-button">
          <a href="https://perpdex.com/pdfs/whitepaper.pdf" class="btn-radius" target="_blank" rel="noopener noreferrer"
            >Get Started</a
          >
        </div>
      </div>
      <div class="section-item-6">
        <img alt="" src="images/Group_2.svg" />
      </div>
    </div>
  </div>
  <div class="section-5"></div>
</div>
{{ end }}
