{{ define "main" }}
<div class="perp-dex-landing-page">
  <div class="section-1">
    <p class="section-title">A DEX with all the features you expect</p>
    <div class="sub-section-1">
      <div class="item">
        <p class="a-fast-and-responsive-trading-experience">
          A fast and responsive trading <br />
          experience
        </p>
      </div>
      <div class="item">
        <p class="full-cross-margin-trading-support">
          Full cross-margin trading<br />
          support
        </p>
      </div>
      <div class="item">
        <p class="permissionless-liquidator-offering-full">
          Permissionless liquidator <br />
          offering full decentralization
        </p>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="sub-section-2">
      <div class="section-item-2">
        <img
          alt=""
          class="rectangle-4"
          src="https://static.overlay-tech.com/assets/a21feb58-d61c-459b-bc7f-63c04d025e33.png"
        />
      </div>
      <div class="section-item-2">
        <p class="section-item-title-2">About PerpDEX</p>
        <p class="section-item-description">
          PerpDEX is a perpetual future DEX protocol which improves three important features; Liquidation Free Funding
          (LFF), Two-Stage Price Limit (TSPL) and finally, offers Decentralization by making the liquidator
          permissionless and removing the centralized part that existed in traditional protocols. Read our WhitePaper to
          get more information
        </p>
        <div class="sub-section-button">
          <a
            href="https://perpdex.com/pdfs/whitepaper.pdf"
            class="btn-gradient-radius"
            target="_blank"
            rel="noopener noreferrer"
            >Read WhitePaper ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="section-3-title">
      <p class="section-3-title-item-1">Tested, Fully Decentralized Perp Protocol</p>
      <p class="section-3-title-item-2">Join 1k&#43; Top Traders at PerpDEX</p>
    </div>
    <div class="section-3-contents">
      <div class="section-3-item">
        <p class="section-3-item-title">Cumulative Volume</p>
        <p class="section-3-item-value">$2,456,789.00</p>
      </div>
      <div class="line"></div>
      <div class="section-3-item">
        <p class="section-3-item-title">24-Hour Volume</p>
        <p class="section-3-item-value">$2,456,789.00</p>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="section-4-title">
      <p class="section-4-title-item-1">Market Trend</p>
      <p class="section-4-title-item-2">Start Trading Perpetuals Today</p>
    </div>
    <div class="section-4-contents">
      <table>
        <tr>
          <th>COIN</th>
          <th>PRICE</th>
          <th>CHANGE</th>
          <th>MARKET STATS</th>
          <th>TRADE</th>
        </tr>
        <tr>
          <td>
            <div>Bitcoin (BTC)</div>
          </td>
          <td><p>$30,654.70</p></td>
          <td><p>&#43;8.59%</p></td>
          <td>
            <img
              alt=""
              class="vector-4"
              src="https://static.overlay-tech.com/assets/76e9ff97-09a1-4b3e-b92f-524dddf1dc86.svg"
            />
          </td>
          <td>
            <a
              href="https://bafybeieuvihn2qcxhj6s3r6rkvlb7xbvlwi7k4eyxgmtae2d3t5v3l77xy.ipfs.infura-ipfs.io/"
              class="btn-gradient-radius"
              >Trade</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div>Ethereum (ETH)</div>
          </td>
          <td><p>$2,111.57</p></td>
          <td><p>-8.59%</p></td>
          <td>
            <img
              alt=""
              class="vector-5"
              src="https://static.overlay-tech.com/assets/e27a2583-39d4-4705-976b-0aa624f66cb3.svg"
            />
          </td>
          <td>
            <a
              href="https://bafybeieuvihn2qcxhj6s3r6rkvlb7xbvlwi7k4eyxgmtae2d3t5v3l77xy.ipfs.infura-ipfs.io/"
              class="btn-gradient-radius"
              >Trade</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div>Solana (SOL)</div>
          </td>
          <td><p>$55.41</p></td>
          <td><p>&#43;24.96%</p></td>
          <td>
            <img
              alt=""
              class="vector-6"
              src="https://static.overlay-tech.com/assets/95f53bb7-356d-47b2-b1ef-9e9b5c43ffa7.svg"
            />
          </td>
          <td>
            <a
              href="https://bafybeieuvihn2qcxhj6s3r6rkvlb7xbvlwi7k4eyxgmtae2d3t5v3l77xy.ipfs.infura-ipfs.io/"
              class="btn-gradient-radius"
              >Trade</a
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section-5"></div>
</div>
{{ end }}
